.app-container {
  text-align: center;
  margin: 0 auto;
}
.input {
  width: 500px;
  padding: 10px;
}
.recipe-container {
  max-height: 500px;
  border: 1px solid gray;
  overflow-y: auto;
  width: 500px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
}
.recipe-item {
  display: block;
}
